<!doctype html>
<html ng-app="metermanApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
    <script src="js/MeterManModel_v1.0.js"></script>
    <script src="js/MeterManController_v1.0.js"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div ng-controller="MeterManCtrl" ng-init="init()">
    <div ng-include="template.url"></div>
    <div class="button-bar button-bar-footer">
        <div ng-repeat="footer in footers">
            <button id="{{footer.id}}" ng-click="changeScreen(footer.screenVal)">{{footer.text}}</button>
        </div>
    </div>
</div>
</body>
</html>
